.box1{
background: red;
width: 300px;
height: 300px;
display: inline-block;
}

.box2{
background: blue;
width: 300px;
height: 300px;
display: inline-block;
}

.box3{
background: green;
width: 300px;
height: 300px;
align-items: center;
display: inline-block;
}

.box4{
    background:orange;
    width: 300px;
height: 300px;
display:inline-block ;
    }

@media (minwidth=400px){
    div{
        flex-direction: column;
    }
}